<div class="container">
    <div class="header">
        <span class="title">Contact Information</span>
        <span class="subtitle">Say something to start a live chat!</span>
    </div>
    <div class="contact-container">
        <div class="row">
            <span><i class="bi bi-telephone"></i></span> <span class="content">+3630 635 4914</span>
        </div>
        <div class="row">
            <span><i class="bi bi-envelope"></i></span> <span class="content">pallagijoe@gmail.com</span>
        </div>
        <div class="row">
            <span><i class="bi bi-geo-alt"></i></span> <span class="content">Hungary, Budapest</span>
        </div>
    </div>
</div>
