<div class="container">
    <form
        class="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="user-input">
                <app-input
                    [inputFormControl]="$any(form)?.controls['firstName']"
                    [inputTitle]="'First Name'"></app-input>
            </div>
            <div class="user-input">
                <app-input
                    [inputFormControl]="$any(form).controls['lastName']"
                    [inputTitle]="'Last Name'"></app-input>
            </div>
        </div>
        <div class="row">
            <div class="user-input">
                <app-input
                    [inputFormControl]="$any(form).controls['email']"
                    [inputTitle]="'Email'">
                </app-input>
            </div>
            <div class="user-input">
                <app-input
                    [inputFormControl]="$any(form).controls['phoneNumber']"
                    [inputTitle]="'Phone Number'">
                </app-input>
            </div>
        </div>
        <div class="row">
            <app-subject-select (selectedSubjectEvent)="onSubjectSelect($event)"></app-subject-select>
        </div>
        <div class="message">
            <app-input
                [inputFormControl]="$any(form).controls['message']"
                [inputTitle]="'Message'">
            </app-input>
        </div>
        <div
            class="row"
            *ngIf="data$ | async as data">
            <button *ngIf="!    data.isEmailSent"
                type="submit"
                class="send-button"
                [disabled]="data.isSubmitting">
                Send Message
            </button>
            <div *ngIf="data.isEmailSent" class="sent-container">
                <p class="success">Email Sent!</p>
                <i class="bi bi-check-square-fill"></i>
            </div>
        </div>
    </form>
</div>
