

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container {
        display: flex;
        max-width: 1196px;
        max-height: 647px;
        border: 1px solid #011C2B;
        border-radius: 10px;
    
        .info {
            display: flex;
            flex: 3;
            background-color: #011C2B;
            border-radius: 10px;
        }
        .form-control {
            display: flex;
            flex: 7;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        border: none !important;
    }
  }
